@import url('https://fonts.googleapis.com/css2?family=Inter&family=Yellowtail&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;  
}

.logo{
  font-family: 'Yellowtail', cursive;
  background: linear-gradient(to right, #e7796a 0%, #ddb710 30%, #24d19d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
